.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
} */

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color: #2F4F4F;
  font-family:'Syne Mono', monospace;
  text-size-adjust: 18px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


.container img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 2);
  margin: 9px;
}

.container figcaption{
  color: black;
  font-weight:  300px;
}

.about {
  display: flex;
  color: #2F4F4F;
  font-family:'Syne Mono', monospace;
}


.about figcaption {
  color: #2F4F4F;
  font-family:'Syne Mono', monospace;
}

/* .lists {
  display: grid;
} */
.lists img {
  width: 650px;
  height: 650px;
}

.posts img {
  width: 650px;
  height: 650px;
}

