$maincolor: #2F4F4F;
$contrastcolor: #D3D3D3;

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-test-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}


nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;
    
    a:link{
        text-decoration: none;
    }
    
    a {
        @include white-text-black-bg;
        div {
            margin: 10px;
            font-size: medium;
            font-family:'Syne Mono', monospace;
            font-weight: 100;
        }
    }
    
}


